# Task = 0not; Geometry = global; supplyTypeSlct = infinite
REACTION not100q not process:value=1:type=pow:depletable=0 requisite:max_count=1

#-----
# Task = 1nan; Geometry = global; supplyTypeSlct = infinite
REACTION nan100q nand process:value=1:type=pow:depletable=0 requisite:max_count=1

#-----
# Task = 2and; Geometry = global; supplyTypeSlct = finite
RESOURCE and100q:geometry=global:xdiffuse=0:ydiffuse=0:initial=default
REACTION and100q and process:resource=and100q:value=2:type=pow:min=1:min=0 requisite:max_count=1

#-----
# Task = 3orn; Geometry = global; supplyTypeSlct = finite
RESOURCE orn100q:geometry=global:xdiffuse=0:ydiffuse=0:initial=default
REACTION orn100q orn process:resource=orn100q:value=2:type=pow:min=1:min=0 requisite:max_count=1

#-----
# Task = 4oro; Geometry = global; supplyTypeSlct = chemostat
RESOURCE oro100q:geometry=global:inflow=0.2:outflow=0.2:inflowx1=0:inflowy1=0:inflowx2=4:inflowy2=4:outflowx1=0:outflowy1=0:outflowx2=4:outflowy2=4:xdiffuse=0:ydiffuse=0

REACTION oro100q or process:resource=oro100q:value=3:type=pow:min=1:min=0 requisite:max_count=1


#-----
# Task = 5ant; Geometry = global; supplyTypeSlct = chemostat
RESOURCE ant100q:geometry=global:inflow=0.02:outflow=0.02:inflowx1=0:inflowy1=0:inflowx2=4:inflowy2=4:outflowx1=0:outflowy1=0:outflowx2=4:outflowy2=4:xdiffuse=0:ydiffuse=0

REACTION ant100q andn process:resource=ant100q:value=3:type=pow:min=1:min=0 requisite:max_count=1


#-----
# Task = 6nor; Geometry = global; supplyTypeSlct = finite
RESOURCE nor100q:geometry=global:xdiffuse=0:ydiffuse=0:initial=default
REACTION nor100q nor process:resource=nor100q:value=4:type=pow:min=1:min=0 requisite:max_count=1

#-----
# Task = 7xor; Geometry = global; supplyTypeSlct = finite
RESOURCE xor100q:geometry=global:xdiffuse=0:ydiffuse=0:initial=default
REACTION xor100q xor process:resource=xor100q:value=4:type=pow:min=1:min=0 requisite:max_count=1

#-----
# Task = 8equ; Geometry = global; supplyTypeSlct = none
REACTION equ100q equ process:value=0:type=pow requisite:max_count=1
