.DS_Store
*.*~
d_*
d_*/*
d_*/*/*
*.avidaWs/
*.avidaWs
default.avidaWs
default.avidaWs/
z_not_in_use_*
z_*
avida.js.old
avida.js.old/*

default.avidaWs_production/

nbproject/
/HTML5Application/nbproject/private/