.DS_Store
*.*~
_d_*
_d_*/*
_d_*/*/*
d_*
*.avidaWs/
*.avidaWs
default.avidaWs
default.avidaWs/
z_not_in_use_*
z_*
avida.js.old
avida.js.old/*

default.avidaWs_production/

nbproject/
/HTML5Application/nbproject/private/