* {
    box-sizing: border-box;  /* include padding and border in the elements width/size */
  }
  body {
    margin: 0;
    background-color: #F5F5F5; /* cyan; */
    padding: 0;
  }
  
  #allAvida{
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
    margin: 0;
    background-color:  #F5F5F5;   /* lightsalmon;  */
    align-items: stretch;      
  }
  .headerRow, .footerRow {
    flex: 0 1 20px;   /*sized to content */
    background: yellowgreen;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1;
    border: 1px solid black;
  }
  #lftPbuttonDiv{
    flex: 0 1 100px;
  }
  #rtPbuttonDiv{
    flex: 0 1 100px;
  }

  #mainMenu{
    flex: 0 1 500px;
  }

  .mainRow { 
    flex: 1 1 auto;                  /* fills remaining space; flex: 1 1 auto = flex: 1; prevents resize */
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
    background-color: #F5F5F5; /* red; */
  }
  .navColClass {
    resize: horizontal;
    overflow: auto;
    width: 152px;        /*was 220 */
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5; /* lavender; */
    border: 1px solid black;
  }
  .mainBlockHolder{
    background-color: #F5F5F5; /* lightskyblue; */
    flex: 1;
    border: 1px solid black;
  }
  .mainBlockClassRow {
    display: flex;
    flex-direction: row;
    height: 100%;
    Width: 100%;
    background-color: #F5F5F5; /* lightblue; */
  }
  .popBenchCol{
    background-color: #F5F5F5; /* lightgoldenrodyellow; */
    flex: 1;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .benchPopTopRow {
    border: 1px solid black;
    flex:0 1 30px;
    resize: vertical;     /* broken: resize is not working here */
    overflow: auto;
    display: flex;
    flex-direction: row;
    background-color: #F5F5F5; /* lightblue;  */
  }
  .benchPopMid {
    border: 1px solid black;
    flex: 1;
    background-color: #F5F5F5; /* blue; */
  }
  .benchPopBot{
    flex: 0 1 40px;
    border: 1px solid black;
    background-color: #F5F5F5; /* peachpuff;*/
  }

  #popInfoHolder {
    flex: 0 1 349px;          /* flex: 0 1 344px; is fixed in that dimension */
    border: 1px solid black;
    background: beige;
  }

  #labInfoBlock{
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5; /* lightsteelblue; */
    height: 100%;
  }
  .labInfoClass{
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5; /* lightsteelblue; */
    height: 100%;
  }

  #popStatistics{
    display: flex;
    flex-direction: row;
    border: 1px solid purple;
    background-color: #F5F5F5;
    height: 280px;
    resize: vertical;
    overflow: auto;
  }
  #selOrgType{
    flex: 0 1 164;        /*was 170 */
    border: 1px solid red;
    resize: horizontal;
    overflow: auto;
  }
  #popStats4grid{
    flex: 1;        /* fills remaining space; flex: 1 1 auto = flex: 1; prevents resize */
    border: 1px solid green;
  }
  #popChrtHolder{
    flex: 1;
    border: 1px solid black;
  }
  #miniChartYaxis{
    flex: 0 1 30px;
    border: 1px solid black;
  }
.mainPageButtons{
  border: 1px solid black;
  flex:0 1 120px;
  resize: vertical;     /* broken: resize is not working here */
  overflow: auto;
}
.taskSets{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.taskLevel{
  flex:0 1 8em;
  border: 1px solid #EEE;
  padding: 3px;
}
.freezerClass{
  border: 1px solid black;
  flex:1;
}
.freezerSection{
  font-size: 130%;
  background-color: rgb(215, 215, 248);
}
#trashDiv{
  flex: 0 1 40px;
  border: 1px solid black;
}

  .orgBenchCol{
    background-color: #F5F5F5 /* lightgoldenrodyellow;*/
    flex: 1;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .orgBenchTopRow{
    border: 1px solid black;
    flex:0 1 30px;
    resize: vertical;     /* broken: resize is not working here */
    overflow: auto;
    display: flex;
    flex-direction: row;
  }
  .orgTopLt{
    flex: 1;  
    display: flex;
    flex-direction: row;
    background-color: #F5F5F5; /* linen; */
  }
  #activeOrgan{
    background-color: #F5F5F5; /* lawngreen; */
    border: 1px solid red;
    width: 90%;
  }
  .orgTopRt{
    flex: 0 1 200 px;
    background-color: #F5F5F5; /* paleturquoise; */
  }
  .orgMid {
    border: 1px solid black;
    flex:1;
  }
  .orgBot {
    flex: 0 1 40px;
    border: 1px solid black;
  }
  #cycleSlider{
    background-color: #F5F5F5; /* mediumpurple; */
  }
  .orgInfo {
    flex: 0 1 244px;          /* flex: 0 1 344px; is fixed in that dimension */
    border: 1px solid black;
    background: beige;
  }
  
  .analysisArea{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #F5F5F5; /* lightgray;  */
  }
  .anaTop{
    flex: 1;
    border: 1px solid black;
  }
  .anaBot {
    flex: 0 1 75px;
    display: flex;
    flex-direction: row;
    height: 100%;
    border: 1px solid black;
    background-color: #F5F5F5; /* peachpuff; */
  }
  .analegend{
    flex: 1;
    border: 1px solid black;
    background-color: #F5F5F5; /* seashell;  */
  }
  .anaYaxis{
    flex: 0 1 500px;
    background-color: #F5F5F5; /* lavender;  */
  }