* {
    box-sizing: border-box;  /* include padding and border in the elements width/size */
  }
  body {
    margin: 0;
    background-color: #F5F5F5; /* cyan; */
    padding: 0;
  }
  
  .thin{
    margin: 0;
    padding: 0;
  }
  
  .tabHolder {
    flex: 0 0 auto;
  }
  
.tab {
  overflow: hidden;
  /*border: 1px solid #ccc; */
  border: none;
  background-color: inherit;
  float:right;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: white;
  float: left;
  border: 1px black;
  border-style: solid solid none;
  border-radius: 9px 9px 0px 0px;
  outline: none;
  cursor: pointer;
  padding: 2px 9px;
  transition: 0.3s;
  font-size: 11px;
  margin-top: 5px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}
  
  #allAvida{
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
    margin: 0;
    background-color:  #F5F5F5;   /* lightsalmon;  */
    align-items: stretch;      
  }
  .headerRow, .footerRow {
    flex: 0 1 30px;   /*sized to content   was 25  */
    /* background: #ddd; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #AAA;
  }
  .sidePnlBtnDiv{
    /*background-color: #eee;      #eee; better color */
    padding: 2px 4px 2px 4px;    /* top right bottom left */   
  }
  #lftPbuttonDiv{
    flex: 0 1 50px;
  }
  #rtPbuttonDiv{
    flex: 0 1 50px;
  }
  #lftPnlButtonImg{
    height: 20px;
    border: 2px solid black;  
    alt: 'button to open/close left panel'; 
    float: left;
  }
  #rtPnlButtonImg{
    height: 20px;
    border: 2px solid black;  
    alt: 'button to open/close right panel'; 
    float: right;
  }
  #mainMenu{
    flex: 0 1 350px;
  }
  #headerMsg{
    flex: 1 1 auto;                  /* fills remaining space; flex: 1 1 auto = flex: 1; prevents resize */
  }
  #msgHolder {
    padding: 4px 4px 4px 8px;    /* top right bottom left */   
    height: 100%;
  }
  #wsSavedMsg{
    color: blue;
  }
  /*contains navigation column and pages (population, Organsims, Analysis) */
  .mainRow { 
    flex: 1 1 auto;                  /* fills remaining space; flex: 1 1 auto = flex: 1; prevents resize */
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
    background-color: #F5F5F5; /* red; */
    max-height: 800px;
    overflow:scroll;
  }
  .navColClass {
    resize: horizontal;
    overflow: auto;
    width: 280px;        /*was 152   340px*/
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5; /* lavender; */
    border: 1px solid #AAA;
    max-height: 800px;
    overflow:scroll;
  }
  
  .mainBlockHolder{
    background-color: #F5F5F5; /* lightskyblue; */
    flex: 1;
    border: 1px solid #AAA;
  }
  .mainBlockClassRow {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: #F5F5F5; /* lightblue; */
  }
  .popBenchCol{
    background-color: #F5F5F5; /* lightgoldenrodyellow; */
    flex: 1;
    border: 1px solid #AAA;
    display: flex;
    overflow:auto;
    flex-direction: column;
    width: 100%;
    max-height: 800px;
    overflow:scroll;
    /*max-width: 430px;   /* tiba; temp fix will need to change this later */
  }
  .benchPopTopRow {
    flex:0 1 30px;
    display: flex;
    flex-direction: row;
    background-color: #F5F5F5; /* lightblue;  */
    border: 1px solid #AAA;
  }
  .benchPopMid {
    border: 1px solid #AAA;
    flex: 1;
    background-color: #F5F5F5; /* blue; */
    overflow:auto;
  }
#gridHolder {
    min-width: 200px;
    overflow: auto;
    margin: 0px;
    padding: 3px;
    background-color: darkgrey;
  }
  .benchPopBot{
    flex: 0 1 40px;
    border: 1px solid #AAA;
    min-height: 69px;
    overflow: auto;
    background-color: #F5F5F5; /* peachpuff;*/
  }

  #popInfoHolder {
    flex: 0 1 420px;          /* flex: 0 1 344px; is fixed in that dimension   was 349px  was 500px*/
    border: 1px solid #AAA;
    background: beige;
    max-height: 550px;
    overflow:scroll;
  }

  #popInfoVert {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .labInfoHolder {
    flex: 1; 
    height: 100%;
  }
    
  #labInfoBlock{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .labInfoClass{
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5; /* lightsteelblue; */
    height: 100%;
  }
  
  #environConfigEdit{
    resize: both;
    overflow: auto;
  }

  #popStatHolder{
    flex: 1 1 280px;
    height: 280px;
  }
  #popStatistics{
    display: flex;
    flex-direction: row;
    border: 1px solid #AAA;
    background-color: #F5F5F5;
    height: 280px;
    resize: vertical;
    overflow: auto;
  }
  #selOrgType{
    flex: 0 1 170px;        /*was 170 */
    border: 1px solid #AAA;
/*    resize: horizontal;  */
    overflow: auto;
  }
  #popStats4grid{
    flex: 1 1 auto;        /* fills remaining space; flex: 1 1 auto = flex: 1; prevents resize */
    border: 1px solid #AAA;
  }
  #popChrtHolder{
    flex: 1 1 auto;        /* fills remaining space; flex: 1 1 auto = flex: 1; prevents resize */
    border: 1px solid #AAA;
    height: 100%;
  }
  #miniChartYaxis{
    flex: 0 0 30px;
    border: 1px solid #AAA;
  }
  #debugResource{
    flex: 0 0 auto;
    border: 1px solid #AAA;
    width: 100%;
  }
  #showResource{
    flex: 0 0 auto;
    border: 1px solid #AAA;
    width: 100%;
  }
  
  #ex1envParam {
    flex: 1 1 auto;        /* fills remaining space; flex: 1 1 auto = flex: 1; prevents resize */
    border: 1px solid #AAA;    
    background-color: #F5F5F5;
  }
  
  #ex1envNone{
    display: block;
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
    min-width: 200px;
  }
  #ex1envFinite{
    display:block;
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
  }
  #ex1envEquilibrium{
    display: block;
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
  }
  #ex1envGradient{
    display: block;
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
  }

  #ex2envParam {
    flex: 1 1 auto;        /* fills remaining space; flex: 1 1 auto = flex: 1; prevents resize */
    border: 1px solid #AAA;    
    background-color: #F5F5F5;
  }
  
  #ex2envNone{
    display: block;
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
    min-width: 200px;
  }
  #ex2envFinite{
    display:block;
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
  }
  #ex2envEquilibrium{
    display: block;
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
  }
  #ex2envGradient{
    display: block;
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
  }


  
.grid-env1row-container {
  display: inline-grid;
  grid-template-columns: 184px auto;
  background-color: #F5F5F5;  /* #2196F3;  paple blue */
  width: 100%;
}

.grid-env1row-c1-item{
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: right;
  padding: 2px 1px;
  max-width: 182px;
}

.grid-env1row-c2-item {
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: left;
  padding: 2px 1px;
}

  #envParam {
    flex: 1 1 auto;        /* fills remaining space; flex: 1 1 auto = flex: 1; prevents resize */
    border: 1px solid #AAA;    
    background-color: #F5F5F5;
  }
  
  #envNone{
    display: block;
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;;
  }
  #envFinite{
    display:block;
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
  }
  #envEquilibrium{
    display: block;
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
  }
  #envSourceSink{
    display: block;
    height: 100%;
    width: 100%;
    background-color: #violet;
  }
  #envGradient{
    display: block;
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;;
  }


.grid-sugars-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  background-color: darkslategray;     /* #2196F3;  blue */
/*  justify-content: space-evenly;  */
  width: 100%;
}
.grid-sugars-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0px solid #fff;
  text-align: left;
  padding: 1px 1px;
}
.grid-sugars-2c-item {
  grid-column: 1 / span 2;
  background-color: #ddd;
  border: 1px solid #111;
  border-bottom: 0px none #fff;
  text-align: center;
  padding: 1px 1px;
}

.grid-sugarOnOff-item {
  background-color: #ddd;
  border: 1px solid #111;
  text-align: left;
  padding: 1px 1px;
}

.grid-sugarOnOff-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: #F5F5F5;     /* #2196F3;  blue */
/*  justify-content: space-evenly;  */
  width: 100%;
}
.grid-sugarOnOff-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0px;
  text-align: left;
  padding: 1px 1px;
}


.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  background-color: #F5F5F5;     /* #2196F3;  blue */
/*  justify-content: space-evenly;  */
  width: 100%;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 2px 3px;
}

  .grid-9env-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  background-color: #F5F5F5;  /* #2196F3;  paple blue */
  width: 100%;
}

.grid-9env-item {
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 2px 3px;
}

  .grid-eachSugar-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  background-color: #F5F5F5;  /* #2196F3;  paple blue */
  width: 100%;
  }
  
  .grid-eachSugar-item {
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 1px 1px;
  }

/*************************************************************************** Sugar Accordion using details and select */
/* grid-container, grid-item and hidden sections also defined here */

#sugarAccordion{
  width: 100%;
  background: #fff;          /*cyan=0ff; yellow=ff0 magenta=f0f brightGreen=0f0 red=f00 blue=00f */
}
.sugarDetailSum{}

.sugarSummary{
  background: rgba(128, 128, 128, 0.2);   /*lightsteelblue; too ble=228, 241, 254 */
}
.sugarDetail{
  /* background: #fff;    /* #7eAbCd*/
}

.sugarTitle{
  font-size: 110%;
  font-weight: bolder;
}
.dishPartLabel{
  font-size: 100%;
  font-weight: bold;  
}
.evenSugar{ 
  background: rgba(128, 128, 128, 0.4);  /*228, 241, 254, */
  border-top: 1px solid #444;
}
.oddSugar{
  border-top: 1px solid #666;
  background: rgba(128, 128, 128, 0.7);  /*LtSteelBlue=b0cedE=176, 196, 180 */
}  /*#89a9d9;*/

#notMedSection{
  background: rgba(255,102,153, 1);
}
#nanMedSection{
  background: rgba(255,178,102, 1);
}
#andMedSection{
  background: rgba(255,255,102, 1);
}
#ornMedSection{
  background: rgba(102,255,102, 1);
}

#notSection{
  background: rgba(255,153,178, 1);
}
#nanSection{
  background: rgba(255,204,153, 1);
}
#andSection{
  background: rgba(255,255,153, 1);
}
#ornSection{
  background: rgba(153,255,153, 1);
}
#oroSection{
  background: rgba(153,255,153, 1);
}
#antSection{
  background: rgba(153,255,153, 1);
}
#norSection{
  background: rgba(153,255,153, 1);
}
#xorSection{
  background: rgba(153,255,153, 1);
}
#equSection{
  background: rgba(153,255,153, 1);
}

#notPaleSection{
  background: rgba(255, 205,204, 1);
}
#nanPaleSection{
  background: rgba(255,229,204, 1);
}
#andPaleSection{
  background: rgba(255,255,204, 1);
}
#ornPaleSection{
  background: rgba(204,255,204, 1);
}
/*********************************************************************** End Sugar Accordion using details and select */
  
  
.mainPageButtons{
  border: 1px solid #AAA;
  flex:0 1 120px;
}
.taskSets{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}
.taskLevel{
  flex:0 1 50em;             /* 0 1 8em; */
  border: 1px solid #EEE;
  padding: 3px;
}
.foodAmount{
  flex:0 1 8em;              /*  0 1 8em; */
  border: 1px solid #EEE;
  padding: 3px;
}
.period{
  flex:0 1 8em;             /*  0 1 8em; */
  border: 1px solid #EEE;
  padding: 3px;
}
.flowInput{
  width: 2em;      /*  4.5em */
  height:1.8em
}

.freezerClass{
  border: 1px solid #BABABA;
  flex:1;
  overflow:scroll;
  max-height: 600px;
  overflow:scroll;
}
.freezerSection{
  font-size: 130%;
  background-color: #ddd;
}
#trashDiv{
  flex: 0 1 40px;
    border: 1px solid #AAA;
}

  .orgBenchCol{
    background-color: #F5F5F5; /* lightgoldenrodyellow;*/
    flex: 1;
    border: 1px solid #AAA;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .orgBenchTopRow{
    border: 1px solid #AAA;
    flex:0 1 30px;
    resize: vertical;     /* broken: resize is not working here */
    overflow: auto;
    display: flex;
    flex-direction: row;
  }
  .orgTopLt{
    flex: 1;  
    display: flex;
    flex-direction: row;
    background-color: #F5F5F5; /* linen; */
  }
  #activeOrgan{
    background-color: #F5F5F5; /* lawngreen; */
    border: 1px solid #AAA;
    width: 90%;
  }
  .orgTopRt{
    flex: 0 1 200 px;
    background-color: #F5F5F5; /* paleturquoise; */
  }
  .orgMid {
    border: 1px solid #AAA;
    flex:1;
  }
  .orgBot {
    flex: 0 1 40px;
    border: 1px solid #AAA;
  }
  #cycleSlider{
    background-color: #F5F5F5; /* mediumpurple; */
  }
  .orgInfo {
    flex: 0 1 244px;          /* flex: 0 1 344px; is fixed in that dimension */
    border: 1px solid #AAA;
    background: beige;
  }
  #resourceTable{
    border: 1px solid #CCC;
   table-layout: auto; 
   width: 100%; 
   height: auto; 
   text-align:center;
  }
  .TabLftBorder{
    border-left: 1px solid #AAA;
  }
  .TabSideBorder{
    border-left: 1px solid #AAA;
    border-right: 1px solid #CCC;
  }
  .analysisArea{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #F5F5F5; /* lightgray;  */
  }
  .anaTop{
    flex: 1;
    border: 1px solid #AAA;
  }
  .anaBot {
    flex: 0 1 75px;
    display: flex;
    flex-direction: row;
    height: 100%;
    border: 1px solid #AAA;
    background-color: #F5F5F5; /* peachpuff; */
  }
  .analegend{
    flex: 1;
    border: 1px solid #AAA;
    background-color: #F5F5F5; /* seashell;  */
  }
  .anaYaxis{
    flex: 0 1 500px;
    background-color: #F5F5F5; /* lavender;  */
  }
  
  
/**********************************************************************************************/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 80%;
}

.modal-header {
    padding: 8px 8px;
    background-color: lightgray;
    color: black;
}

.modal-body {padding: 8px 8px;}

.modal-footer {
    padding: 8px 8px;
    background-color: lightgray;
    color: black;
}

.hp_inflow {
  background-color: yellow;
}

.hp_outflow {
  background-color: palegoldenrod;
}

.hp_xdiffuse {
  background-color: greenyellow;
}

.hp_xdiffuse {
  background-color: palegreen;
}
.hp_minMax {
  background-color: skyblue;
}

/*************************************************************************************************** no longer in use */

/*********************************************************** Basic Accordion Styles - css accordion using check boxes */
/* 
.accordionSugar {

.accordionSugar input[name="panel"] {
  display: none;
}
.accordionSugar label {
  position: relative;
  display: block;
  padding: 2px;
  background-color: #ccc;
  border-top: 1px solid #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}
.accordionSugar label:after {
  content: "+";
  position: absolute;
  right: 1em;
  width: 1em;
  height: 1em;
  color: #eee;
  text-align: center;
  border-radius: 50%;
  background: #2980b9;
}
.accordionSugar label:hover {
  color: #2980b9;
}
.accordionSugar input:checked + label {
  color: #2980b9;
}
.accordionSugar input:checked + label:after {
  content: "-";           
  line-height: 0.8em;   /* adjsut line-height to vertically center icon */  /*
}
.accordionSugar .accordionSugar__content {
  overflow: hidden;
  max-height: 0em;
  position: relative;
  padding: 0 2px;
  background: #eee;
  transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}
.accordionSugar .accordionSugar__content:not(:last-of-type) {
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.25), inset 4px 0 0 0 #2980b9, inset 0 3px 6px rgba(0, 0, 0, 0.75);
}
.accordionSugar .accordionSugar__content .accordionSugar__header {
  padding: 1px 0;
}
.accordionSugar .accordionSugar__content .accordionSugar__body {
  padding: 0 0 1px;
}

input[name="panel"]:checked ~ .accordionSugar__content {
  max-height: 50em;      /* Get this as close to what height you expect */   /*
}

/* example html that used this accordion 
<div class="accordionSugar">

  <!-- Panel 1 -->
  <div>
    <input type="checkbox" name="panel" id="panel-1">
    <label for="panel-1">Panel 1 There can be more stuff here I think </label>
    <div class="accordionSugar__content">
                    line one
    </div>
  </div>

  <!-- Panel 2 -->
  <div>
    <input type="checkbox" name="panel" id="panel-2">
    <label for="panel-2">Panel 2</label>
    <div class="accordionSugar__content">
                    line one<br>
                    line two
    </div>
  </div>

  <!-- Panel 3 -->
  <div>
    <input type="checkbox" name="panel" id="panel-3">
    <label for="panel-3">Panel 3</label>
    <div class="accordionSugar__content">
                    line one<br>
                    line two<br>
                    line three
    </div>
  </div>

  <!-- Panel 4 -->
  <div>
    <input type="checkbox" name="panel" id="panel-4">
    <label for="panel-4">Panel 4</label>
    <div class="accordionSugar__content">
      <h2 class="accordionSugar__header">Header</h2>
                    line one<br>
                    line two<br>
                    line three<br>
                    line four
    </div>
  </div>

</div><!-- .accordionSugar -->
*/
/**************************************************** End of Basic Accordion Styles - css accordion using check boxes */
