/* 
    Created on : Jul 3, 2018, 4:31:11 PM
    Author     : dianeblackwood
*/

#populationBlock {
  display: flex;
}
#organismBlock{
  display: none;
}
#analysisBlock{
  display: none;
}

#zoomSlide{display: none;}
.noSize{display: none}

.notSeen{margin: 0;}
#splash{
  display: none;
  position: absolute; 
  top: 0px; 
  bottom: 0px; 
  left: 0px; 
  right: 0px; 
  width: 100%; 
  height: 100%; 
  z-index: 1000; 
  background: #13332A
}
