/**********************************************************************************************************************/
/* the class model is used to create dialog boxes without dojo                                                        */
/**********************************************************************************************************************/
/* https://www.w3schools.com/howto/howto_css_modals.asp                                                               */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal                                                */
/* 
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    bottom: 0;

    z-index: 1; /* Sit on top */
    //padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;   /*   Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background: rgb(0,0,0); /* Fallback color */
    background: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content_ {
    background: #fefefe;
    margin: auto;
    padding: 2px;
    border: 1px solid black; /* #888; */
    width: 50%;
    
.modal-content {
  background: #fefefe;
  padding: 0px;   //was 2
  border: 1px solid black; /* #888; */
  width: 50%;
  font-size: 120%;

}

.modal-header {
    padding: 2px 2px;
    font-size: 130%;
    font-weight: bold;
    background: lightgray;
    color: black;
}

.modal-body {padding: 8px 8px;}

.modal-footer {
  height: 40px;
  width: 100%;
    padding: 0px;
    background: lightgray;
    color: black;
}
/* ---------------------------------------------------------------------- markup for Error Form that uses modalBig -- */

#sendLogTitle { 
  width: 100%;  
  display: inline-block; 
  align-self: flex-center;
  text-align: center;
  padding: 1px auto;      /*top-bottom; left-right */
  margin: 0px;
}

#sendLogTitle { 
  width: 100%;  
  display: inline-block; 
  align-self: flex-center;
  text-align: center;
  padding: 1px auto;      /*top-bottom; left-right */
  margin: 0px;
}
#sendLogP { font-size: 120%; }
#sendLogTxtAreaHldr {
  padding: 1px auto;
}
#sendLogScrollBox {
  border: 1px solid #aaa;
  padding: 15px;
  overflow: auto;
  resize: both;
  margin: auto;
  width: 90%;
  height: 100px;
}

//----------------------------------------------------------------------------------------------------------------------
/************************************************************************************************* end of model class */                                                                         */

#saveCSVdataModalID {
  position: fixed; /* Stay in place */
  padding-top: 200px;
}

/**********************************************************************************************************************/
/* the class modalBig is used to create big dialog boxes without dojo                                                     */
/**********************************************************************************************************************/
/* https://www.w3schools.com/howto/howto_css_modals.asp                                                               */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal                                                */
/* 
/* The Modal (background) */
.modalBig {
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    position: fixed; /* Stay in place */
    left: 0px;
    top: 0px;
    padding-left: 5%; /* Location of the box */
    padding-top: 5%; /* Location of the box */
    width: 100%;   /*   Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background: rgb(0,0,0); /* Fallback color */
    background: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalBig-content {
  display: flex;
  flex-direction: column;
  background: #fefefe;
  padding: 0px;   //was 2
  border: 1px solid black; /* #888; */
  width: 94%;
  height: 90%;
  font-size: 120%;
}
.modalBig-header {
  flex: 0 0 40px;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0px;    /* top-bottom; left-right */
  font-size: 130%;
  background: lightgray;
  color: black;
}


.modalBig-body {
  padding: 8px 8px; 
  flex: 0 0 fr;
}

.modalBig-footer {
  flex: 0 0 40px;
  padding: 0px;    /*top-bottom; left-right */
  width: 100%;
  background: lightgray;
  color: black;
}
/* ------------------------------------------------------------------ markup for About Avida-ED that uses modalBig -- */
#AvidaEDaboutModalContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center */
  width: 99%;
  height: auto;
}
#aboutAvidaED_header{
  flex-direction: row-reverse;
  display: flex;
  width: 100%;
  align-items: center;
  height: 40px; 
  justify-content: space-between;
}
#aboutAvidaEDtitle { 
  flex: 0 0 600px;  
  display: inline-block; 
  align-self: flex-center;
  text-align: center;
  padding: 1px auto;
  margin: 0px;
}
.aboutAvidaEDcloseHldr { 
  flex: 0 0 70px; 
  display: inline-block;
  height: 30px;
  width: 50px;
  padding: 4px 8px;
  margin: 0px;
}
#aboutAvidaEDcloseButton {
  padding: 1px 2x 1px 2px;
}

#aboutAvidaEDupperTextHolder { 
  grid-area: aboutTxtHold; 
  display: inline-block; 
  padding: 20px;
}
#aboutAvidaEDlogoHolder { 
  grid-area: aboutLogoHold; 
  display: inline-block;
  place-self: center;
  padding: 10px;
  margin:auto;
} 
#aboutAvidaED_grid_container {
  display: grid;
  grid-template-areas: 'aboutLogoHold aboutTxtHold ';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;}

.AvidaEDaboutP {
  font-weight: bold;
}
#aboutAvidaEDscrllTextHldr {
  padding: 1px auto;
}
#avidaEDaboutScrollBox {
  border: 1px solid #aaa;
  padding: 15px;
  overflow: auto;
  resize: both;
  margin: auto;
  width: 90%;
  height: 100px;
 }
#funding {
  display: block;
  padding-left: 70px;
}
.aboutCls{
  text-decoration: underline;
  text-align: center;
}
.negIndent{
  text-indent: -70px;
}
.marginBelow{
  margin-bottom: 10px;
}
.centerP{ text-align: center; justify-self: center; }
.centerPbig{ text-align: center; justify-self: center; font-size: 140%;}
.centerImg{ 
  display: block;
  text-align: center; 
  justify-self: center;
  margin: auto;
  width: 50%;
}

/********************************************************************************************** end of modalBig class */                                                                         */
