/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 4, 2020, 9:04:42 PM
    Author     : dianeblackwood
*/

  body {
    margin: 0;
    background: #F5F5F5; /* cyan; */
    padding: 0;
  }
  #allAvidaContainer{
    display: grid;
    grid-template-areas: 
'headerRow headerRow  headerRow'
'navColClass mainBlockHolder labInfoHolder';
    /* When CSS in the web console has strikeout, that means the CSS parser has no idea what it is. 
    The two entries in the original codepen were:
    grid-template-row
    grid-template-column
    
    Singular... CSS did not know what to do with them.
    The plural forms are recognized and applied.
    */
    grid-template-rows: 2.5em auto;  /* <-- first value needs to match .headerRow height spec; 's' for rows, not row */
    grid-template-columns: 240px auto 250px; /* columns, not column */
    height: 100vh;
    width: 100vw;
    margin: 0;
    grid-gap: 5px;
    background:  lightgrey;
    /*
    place-items: stretch;
    place-content: stretch;
    */
  }
  .headerRow {
    grid-area:headerRow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid red;               /* #AAA; */
    background: lightpink;
  }
  .navColClass {
    grid-area:navColClass;
    border: 1px solid #AAA;
    background:lightskyblue;
  }

/*contains pages (population, Organsims, Analysis) */
.mainBlockHolder{
    grid-area:mainBlockHolder;
    border: 1px solid #AAA;
  background: lightgreen;   
}
.labInfoHolder {
    grid-area:labInfoHolder;
    border: 1px solid #AAA;
    background: lightyellow;
  }


/*in header row */
  #RtSideSelectHolder{
    height: 20px;
    margin: auto;
  }
  #mainMenu{
    flex: 0 1 350px;
    height: 2.5em;
  }
  #headerMsg{
    flex: 1 1 auto;  
    /* fills remaining space; {flex:1 1 auto;} 
    is the same as {}flex:1;} 
    both prevent resize */
  }

  #RtSideToggleButtons{
    height: 20px;
    margin: auto;
  }
