#_vary30sq

RESOURCE not00:geometry=grid:initial=900
REACTION not00 not process:resource=not00:value=1:type=pow:depletable=0 requisite:max_count=1 

REACTION nan00 nand process:value=1:type=pow  requisite:max_count=1

RESOURCE and00:geometry=grid:initial=90000:xdiffuse=0:ydiffuse=0 
REACTION and00 and process:resource=and00:value=2:type=pow:max=1:min=1 requisite:max_count=1 

RESOURCE orn00:geometry=grid:initial=72000 
REACTION orn00 orn process:resource=orn00:value=2:type=pow:max=1:min=1 requisite:max_count=1 

RESOURCE oro00:geometry=grid:initial=36000:xdiffuse=0:ydiffuse=0 
REACTION oro00 or process:resource=oro00:value=3:type=pow:max=1:min=1 requisite:max_count=1 

RESOURCE ant00:geometry=grid:initial=18000 
REACTION ant00 andn process:resource=ant00:value=3:type=pow:max=1:min=1 requisite:max_count=1 

RESOURCE nor00:geometry=grid:initial=9000:xdiffuse=.5:ydiffuse=1
REACTION nor00 nor process:resource=nor00:value=4:type=pow:max=1:min=1 requisite:max_count=1 

REACTION xor00 xor process:value=0:type=pow  requisite:max_count=1

RESOURCE equ00:geometry=grid:initial=0 
REACTION equ00 xor process:resource=equ00:value=4:type=pow:max=1:min=1  requisite:max_count=1 
