# diffuse_center_out_10sq-40sq
# this dish is 40x40 diffusion; whole dish is output
# the goal is a gradient that reaches equilibrium. This has not been done yet in Avida-ED
# inflow in center; out flow everywhere

RESOURCE not1:geometry=grid:inflow=20:outflow=0.0091:\
inflowX1=15:inflowY1=15:inflowX2=24:inflowY2=24:\
outflowX1=0:outflowY1=0:outflowX2=39:outflowY2=39
REACTION  NOT1  not process:resource=not1:value=1.0:type=pow:min=0.9:max=1 requisite:max_count=1

RESOURCE nan1:geometry=grid:inflow=20:outflow=0.0092:\
inflowX1=15:inflowY1=15:inflowX2=24:inflowY2=24:\
outflowX1=0:outflowY1=0:outflowX2=39:outflowY2=39
REACTION NAND1 nand process:resource=nan1:value=1.0:type=pow:min=0.9:max=1 requisite:max_count=1

RESOURCE and1:geometry=grid:inflow=20:outflow=0.0093:\
inflowX1=15:inflowY1=15:inflowX2=24:inflowY2=24:\
outflowX1=0:outflowY1=0:outflowX2=39:outflowY2=39
REACTION  AND1  and process:resource=and1:value=2.0:type=pow:min=0.9:max=1 requisite:max_count=1

RESOURCE orn1:geometry=grid:inflow=20:outflow=0.0094:\
inflowX1=15:inflowY1=15:inflowX2=24:inflowY2=24:\
outflowX1=0:outflowY1=0:outflowX2=39:outflowY2=39
REACTION  ORN1  orn process:resource=orn1:value=2.0:type=pow:min=0.9:max=1 requisite:max_count=1

RESOURCE oro1:geometry=grid:inflow=20:outflow=0.0095:\
inflowX1=15:inflowY1=15:inflowX2=24:inflowY2=24:\
outflowX1=0:outflowY1=0:outflowX2=39:outflowY2=39
REACTION   OR1  or  process:resource=oro1:value=3.0:type=pow:min=0.9:max=1 requisite:max_count=1

RESOURCE ant1:geometry=grid:inflow=20:outflow=0.0096:\
inflowX1=15:inflowY1=15:inflowX2=24:inflowY2=24:\
outflowX1=0:outflowY1=0:outflowX2=39:outflowY2=39
REACTION ANDN1 andn process:resource=ant1:value=3.0:type=pow:min=0.9:max=1 requisite:max_count=1

RESOURCE nor1:geometry=grid:inflow=20:outflow=0.0097:\
inflowX1=15:inflowY1=15:inflowX2=24:inflowY2=24:\
outflowX1=0:outflowY1=0:outflowX2=39:outflowY2=39
REACTION  NOR1  nor process:resource=nor1:value=4.0:type=pow:min=0.9:max=1 requisite:max_count=1

RESOURCE xor1:geometry=grid:inflow=20:outflow=0.0098:\
inflowX1=15:inflowY1=15:inflowX2=24:inflowY2=24:\
outflowX1=0:outflowY1=0:outflowX2=39:outflowY2=39
REACTION  XOR1  xor process:resource=xor1:value=4.0:type=pow:min=0.9:max=1 requisite:max_count=1

RESOURCE equ1:geometry=grid:inflow=20:outflow=0.0099:\
inflowX1=15:inflowY1=15:inflowX2=24:inflowY2=24:\
outflowX1=0:outflowY1=0:outflowX2=39:outflowY2=39
REACTION  EQU1  equ process:resource=equ1:value=5.0:type=pow:min=0.9:max=1 requisite:max_count=1

#REACTION NOT  not  process:value=0.0:type=pow requisite:max_count=1  #value=1.0
#REACTION NAND nand process:value=0.0:type=pow requisite:max_count=1  #value=1.0  
#REACTION AND  and  process:value=0.0:type=pow requisite:max_count=1  #value=2.0
#REACTION ORN  orn  process:value=0.0:type=pow requisite:max_count=1  #value=2.0
#REACTION OR   or   process:value=0.0:type=pow requisite:max_count=1  #value=3.0
#REACTION ANDN andn process:value=0.0:type=pow requisite:max_count=1  #value=3.0
#REACTION NOR  nor  process:value=0.0:type=pow requisite:max_count=1  #value=4.0
#REACTION XOR  xor  process:value=0.0:type=pow requisite:max_count=1  #value=4.0
#REACTION EQU  equ  process:value=0.0:type=pow requisite:max_count=1  #value=5.0


