# diffuse_center_out_20sq-40sq this dish is 40x40 diffusion
# whole dish is output
# the goal is a gradient that reaches equilibrium. This has not been done yet in Avida-ED
# inflow in center; out flow everywhere

RESOURCE not1:geometry=grid:inflow=20:outflow=0.00000001:\
inflowX1=10:inflowY1=10:inflowX2=29:inflowY2=29:\
outflowX1=0:outflowY1=0:outflowX2=39:outflowY2=39
REACTION  NOT1  not process:resource=not1:value=1.0:type=pow:min=0.9:max=1 requisite:max_count=1
#@1000 updates; high = 23.03; two in = 7.02;  one off corner/diagonal = 6.83;  corner = 6.73 
#@2000 updates; high = 35.74; two in = 19.31; one off corner/diagonal = 19.12; corner = 19.00 
#@3000 updates; high = 48.24; two in = 31.81; one off corner/diagonal = 31.61; corner = 31.50 looks pretty flat
#@4000 updates; high = 60.74; two in = 44.11; one off corner/diagonal = 44.11; corner = 44.11 looks pretty flat
#@8000 updates; high = 110.74; two in = 94.31; one off corner/diagonal = 94.11; corner = 94.11 looks pretty flat

RESOURCE nan1:geometry=grid:inflow=20:outflow=0.0000001:\
inflowX1=10:inflowY1=10:inflowX2=29:inflowY2=29:\
outflowX1=0:outflowY1=0:outflowX2=39:outflowY2=39
REACTION NAND1 nand process:resource=nan1:value=1.0:type=pow:min=0.9:max=1 requisite:max_count=1

RESOURCE and1:geometry=grid:inflow=20:outflow=0.000001:\
inflowX1=10:inflowY1=10:inflowX2=29:inflowY2=29:\
outflowX1=0:outflowY1=0:outflowX2=39:outflowY2=39
REACTION  AND1  and process:resource=and1:value=2.0:type=pow:min=0.9:max=1 requisite:max_count=1

RESOURCE orn1:geometry=grid:inflow=20:outflow=0.000001:\
inflowX1=10:inflowY1=10:inflowX2=29:inflowY2=29:\
outflowX1=0:outflowY1=0:outflowX2=39:outflowY2=39
REACTION  ORN1  orn process:resource=orn1:value=2.0:type=pow:min=0.9:max=1 requisite:max_count=1

RESOURCE oro1:geometry=grid:inflow=20:outflow=0.00001:\
inflowX1=10:inflowY1=10:inflowX2=29:inflowY2=29:\
outflowX1=0:outflowY1=0:outflowX2=39:outflowY2=39
REACTION   OR1  or  process:resource=oro1:value=3.0:type=pow:min=0.9:max=1 requisite:max_count=1
#@1000 updates; high = 22.94; two in = 6.97;  one off corner/diagonal = 6.79;  corner = 6.68 
#@2000 updates; high = 35.46; two in = 19.09; one off corner/diagonal = 18.89; corner = 18.78 
#@3000 updates; high = 47.66; two in = 31.27; one off corner/diagonal = 31.08; corner = 30.96 looks pretty flat 
#@4000 updates; high = 59.73; two in = 43.15; one off corner/diagonal = 43.15; corner = 43.15 looks pretty flat 
#@8000 updates; high = 106.82; two in = 90.43; one off corner/diagonal = 90.24; corner = 90.24 looks pretty flat 

RESOURCE ant1:geometry=grid:inflow=20:outflow=0.0001:\
inflowX1=10:inflowY1=10:inflowX2=29:inflowY2=29:\
outflowX1=0:outflowY1=0:outflowX2=39:outflowY2=39
REACTION ANDN1 andn process:resource=ant1:value=3.0:type=pow:min=0.9:max=1 requisite:max_count=1

RESOURCE nor1:geometry=grid:inflow=20:outflow=0.0001:\
inflowX1=10:inflowY1=10:inflowX2=29:inflowY2=29:\
outflowX1=0:outflowY1=0:outflowX2=39:outflowY2=39
REACTION  NOR1  nor process:resource=nor1:value=4.0:type=pow:min=0.9:max=1 requisite:max_count=1

RESOURCE xor1:geometry=grid:inflow=20:outflow=0.001:\
inflowX1=10:inflowY1=10:inflowX2=29:inflowY2=29:\
outflowX1=0:outflowY1=0:outflowX2=39:outflowY2=39
REACTION  XOR1  xor process:resource=xor1:value=4.0:type=pow:min=0.9:max=1 requisite:max_count=1

RESOURCE equ1:geometry=grid:inflow=20:outflow=0.01:\
inflowX1=10:inflowY1=10:inflowX2=29:inflowY2=29:\
outflowX1=0:outflowY1=0:outflowX2=39:outflowY2=39
REACTION  EQU1  equ process:resource=equ1:value=5.0:type=pow:min=0.9:max=1 requisite:max_count=1
#@1000 updates; high = 4.32; two in = 0.09; one off corner/diagonal = 0.08; corner = 0.07 
#@2000 updates; high = 4.32; two in = 0.09; one off corner/diagonal = 0.08; corner = 0.07 
#@3000 updates; high = 4.32; two in = 0.09; one off corner/diagonal = 0.08; corner = 0.07 
#@4000 updates; high = 4.32; two in = 0.09; one off corner/diagonal = 0.08; corner = 0.08 
#@8000 updates; high = 4.32; two in = 0.09; one off corner/diagonal = 0.08; corner = 0.08 

#REACTION NOT  not  process:value=0.0:type=pow requisite:max_count=1  #value=1.0
#REACTION NAND nand process:value=0.0:type=pow requisite:max_count=1  #value=1.0  
#REACTION AND  and  process:value=0.0:type=pow requisite:max_count=1  #value=2.0
#REACTION ORN  orn  process:value=0.0:type=pow requisite:max_count=1  #value=2.0
#REACTION OR   or   process:value=0.0:type=pow requisite:max_count=1  #value=3.0
#REACTION ANDN andn process:value=0.0:type=pow requisite:max_count=1  #value=3.0
#REACTION NOR  nor  process:value=0.0:type=pow requisite:max_count=1  #value=4.0
#REACTION XOR  xor  process:value=0.0:type=pow requisite:max_count=1  #value=4.0
#REACTION EQU  equ  process:value=0.0:type=pow requisite:max_count=1  #value=5.0


